body {
  padding: 0;
  margin: 0;
  font-family: alata;

}
html, body{

  height:100%;
  width:100%;
  position:relative;

}


nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons{

  font-size:40px !important;

}


nav .nav-wrapper{

  position:absolute;
  height:100%;
  width:100%;
  z-index:1;


}

#title{

  color:white;
  font-size:40px;
  text-decoration: underline white;

}

#gitIcon{



}
#modal1{

  z-index:-10;
}

.a{

  position:absolute;
  z-index:0;

}

#buttonParent{

  position:relative;

}
#randomizeBtn{

 /*width:20%;
  margin-left:23.5%;
  margin-right:30%;
 */
position:fixed;
margin:0 auto;
  display:inline-block;

  width:auto;
  color:white;
  font-size:30px;
  top:90%;
  right:40%;
  height:auto;
  background-color: #494949 !important;




}

.leaflet-popup-content-wrapper{

  background: #a4a4a4!important;
}

a.leaflet-popup-close-button{

  color:black !important;
  font: 20px/10px Tahoma, Verdana, sans-serif !important
}







.btn-block{

  width:100%;
}
.row{
  position:relative;
}

.leaflet-top{
  top:80px !important;
}

.leaflet-container{

 font: 20px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif !important;
}

.material-icons{

  position:fixed;
}


#mapid{
position:absolute;
  top: 0;
  bottom: 0;
  height:100%;
  width:100%;
  z-index:0;

}




