body {
  padding: 0;
  margin: 0;
  font-family: alata;

}
html, body{

  height:100%;
  width:100%;
  position:relative;

}


nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons{

  font-size:50px !important;

}


nav .nav-wrapper{

  position:absolute;
  height:100%;
  width:100%;
  z-index:1;


}

#title{

  color:white;

}

#gitIcon{



}

.a{

  position:absolute;
  z-index:0;

}

#buttonParent{

  position:relative;

}
#randomizeBtn{

 /*width:20%;
  margin-left:23.5%;
  margin-right:30%;
 */
position:fixed;
margin:0 auto;
  display:inline-block;

  width:auto;
  color:black;
  font-size:19px;
  top:90%;
  right:42.5%;
  height:auto;




}

.btn-block{

  width:100%;
}
.row{
  position:relative;
}

.leaflet-top{
  top:80px !important;
}

.leaflet-container{

 font: 20px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif !important;
}




#mapid{
position:absolute;
  top: 0;
  bottom: 0;
  height:100%;
  width:100%;
  z-index:0;

}




